:root {
  --background-color: #6d9fe0;
  --title-color: #11100f;
  --text-color: #181717;
  --second-text-color: #252424;
  --container-color: #c1e3ff;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Hind Guntur";
}
header {
  display: flex;
  justify-content: center;
  margin: auto auto;
  margin-top: 4rem;
  font-size: clamp(1rem, 2rem, 3rem);
  color: var(--title-color);
  font-family: "Julius Sans One";
}

/* main body of content controls */

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp-container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 6px;
  width: 80%;
  height: fit-content;
  text-align: center;
}
.city-and-temp {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-around;
}
.temperature-data-container {
  display: flex;
  justify-content: center;
}
.details {
  margin: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-color);
  padding: 2rem;
  margin: 1rem;
  border-radius: 6px;
  height: fit-content;
  width: 60vw;
  text-align: center;
}
/* for radio input */
.radio-container {
  text-align: start;
}
input {
  border-radius: 6px;
  text-align: center;
}
/* button */
.btn {
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  border: white;
  border-radius: 12px;
  margin: 1rem;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-city {
  background-color: var(--container-color);
  padding: 0.5rem 1rem;
  border: white;
  border-radius: 12px;
  margin: 1rem;
  transition: 0.3s;
}
.btn-city:hover {
  transform: scale(1.1);
}
.btn-city:active {
  background-color: white;
}
/*  header and temperature */
h2 {
  margin: 0;
  font-family: "Julius Sans One";
  font-size: clamp(1.5rem, 2rem, 3rem);
}
h3 {
  margin-top: rem;
  margin-bottom: 0;
  font-family: "Julius Sans One";
}
p {
  margin: 0;
}

/* tablet view */
@media screen and (min-width: 431px) and (max-width: 1024px) {
  .containers {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .containers {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .input-container {
    height: fit-content;
    width: 200px;
    text-align: start;
  }
  .temp-container {
    width: 400px;
  }
}
