:root {
  --background-color: #91dbda;
  --title-color: #11100f;
  --text-color: #181717;
  --second-text-color: #252424;
  --container-color: #e88e45;
}
body {
  margin: 0;
  padding: 0;
  width: 200vw;
  height: 200vh;
  background: linear-gradient(var(--background-color), #8289d5);
  color: var(--text-color);
  font-family: "Hind Guntur";
}
header {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: clamp(1rem, 1.5rem, 2rem);
  color: var(--title-color);
  font-family: "Julius Sans One";
}

.containers {
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.temperature-data-container {
}

.animation-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
}
@media screen and (min-width: 1024px) {
}
